@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #0D0017;
  --foreground: #FFFFFF;
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #5F36BC;
  --primary-foreground: #FFFFFF;
  --secondary: #311C61;
  --secondary-foreground: #FFFFFF;
  --muted: #ACACAC;
  --muted-foreground: #DBDBDB;
  --accent: #C31432;
  --accent-foreground: #FFFFFF;
  --destructive: oklch(0.577 0.245 27.325);
  --border: #48298F;
  --input: #1A0F33;
  --ring: #48298F;
  --chart-1: #50AF95; /* USDT */
  --chart-2: #1A1A1A; /* ETH */
  --chart-3: #00AEE9; /* ONE */
  --chart-4: #242828; /* TOMO */
  --chart-5: #C31432; /* Gradient Start */
  --chart-6: #311C61; /* Gradient End */
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0D0017;
    --foreground: #FFFFFF;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Rubik', Arial, sans-serif;
}

.dark {
  --background: #0D0017;
  --foreground: #FFFFFF;
  --card: #1A0F33;
  --card-foreground: #FFFFFF;
  --popover: #1A0F33;
  --popover-foreground: #FFFFFF;
  --primary: #5F36BC;
  --primary-foreground: #FFFFFF;
  --secondary: #311C61;
  --secondary-foreground: #FFFFFF;
  --muted: #ACACAC;
  --muted-foreground: #DBDBDB;
  --accent: #C31432;
  --accent-foreground: #FFFFFF;
  --destructive: oklch(0.704 0.191 22.216);
  --border: #48298F;
  --input: #1A0F33;
  --ring: #48298F;
  --chart-1: #50AF95; /* USDT */
  --chart-2: #1A1A1A; /* ETH */
  --chart-3: #00AEE9; /* ONE */
  --chart-4: #242828; /* TOMO */
  --chart-5: #C31432; /* Gradient Start */
  --chart-6: #311C61; /* Gradient End */
  --sidebar: #1A0F33;
  --sidebar-foreground: #FFFFFF;
  --sidebar-primary: #5F36BC;
  --sidebar-primary-foreground: #FFFFFF;
  --sidebar-accent: #311C61;
  --sidebar-accent-foreground: #FFFFFF;
  --sidebar-border: #48298F;
  --sidebar-ring: #48298F;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
